<div class="container page-styling">
  <div class="header-wrapper">
    <section>
      <div class="site-name">
        <image src="modules/core/client/img/brand/new.png" class="img-circle img-responsive" style="height:150px;width:150px;" />
      </div>
      <p></p>

      <div class="form-style-3">
        <fieldset>
          <form name="vm.form.sharehouseForm" class="form-horizontal" ng-submit="vm.save(vm.form.sharehouseForm.$valid)" novalidate>
            <fieldset class="form-group">
              <div class="form-group" show-errors>
                <label class="control-label label" for="name">Title:</label>
                <input name="title" type="text" ng-model="vm.sharehouse.Data[0].title" id="title" class="form-control" placeholder="Title" required>
                <div ng-messages="vm.form.sharehouseForm.title.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">House title is required.</p>
                </div>
              </div>
              <div class="form-group" show-errors>
                <label class="control-label label" for="name">Location:</label>
                <input name="location" type="text" ng-model="vm.sharehouse.Data[0].location" id="location" class="form-control" placeholder="Location" required>
                <div ng-messages="vm.form.sharehouseForm.location.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">House location is required.</p>
                </div>
              </div>
              <div class="form-group">
                <label for="content" class="label">Description:</label>
                <textarea name="content" ng-model="vm.sharehouse.Data[0].content" id="content" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
              </div>

              <div class="form-group">
                <div>
                  <label for="files" class="btn"><img src="modules/core/client/img/brand/imgg.png"/></label>
                  <input id="files" style="visibility:hidden;" type="file" file-model="vm.myFile" />
                </div>
              </div>
              <div ng-show="vm.error" class="text-danger">
                <strong ng-bind="vm.error"></strong>
              </div>
              <div class="form-group">
                <button type="submit" class="btn" style="background-color:#FFDE00;color: #097054;">{{vm.sharehouse.Data[0]._id ? 'Update' : 'Create'}}</button>
              </div>
              <div ng-show="vm.error" class="text-danger">
                <strong ng-bind="vm.error"></strong>
              </div>
            </fieldset>
          </form>
        </fieldset>
      </div>
    </section>
  </div>
</div>
