<div class="container page-styling">
<div class="header-wrapper">
       <section>
             <div class="site-name">
               <h1>create new</h1>
             </div>
             <p></p>
  <!-- <div class="page-header">
    <h1>{{vm.sharetool.Data[0]._id ? 'Edit Sharetool' : 'New Sharetool'}}</h1>
  </div> -->
             <div class="form-style-3">
                         <form name="vm.form.sharetoolForm" class="form-horizontal" ng-submit="vm.save(vm.form.sharetoolForm.$valid)" novalidate>
                           <fieldset class="form-group">
                                    <div class="form-group" show-errors>
                                    <label class="control-label label" for="name">Title</label>
                                    <input name="title" type="text" ng-model="vm.sharetool.Data[0].title" id="title" class="form-control" placeholder="Title" required/>
                                    <div ng-messages="vm.form.sharetoolForm.title.$error" role="alert">
                                   <p class="help-block error-text" ng-message="required">Education Share Title is Required.</p>
                                     </div>
                    <!-- {{vm.sharetool.Data[0]}} -->
                                  </div>
                                 <div class="form-group">
                                      <label for="content" class="label">Description</label>
                                       <textarea name="content" ng-model="vm.sharetool.Data[0].content" id="content" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
                                  </div>
                                <div class="form-group">
                                       <!-- <input type="file" file-model="vm.myFile" /> -->
                                       <div>
                                         <label for="files" class="btn"><img src="modules/core/client/img/brand/imgg.png" /></label>
                                         <input id="files" style="visibility:hidden;" type="file" file-model="vm.myFile"/>
                                         </div>
                                  </div>
                                  <div class="form-group">
                                      <button type="submit" class="btn btn-danger">{{vm.sharetool.Data[0]._id ? 'Update' : 'Create'}}</button>
                                  </div>
                                  <div ng-show="vm.error" class="text-danger">
                                       <strong ng-bind="vm.error"></strong>
                                  </div>
                                   </fieldset>

                     </form>
               </div>
</section>
</div>
</div>
