<div class="container page-styling">
<div class="header-wrapper">
<section>
<div class="site-name">
    <h1 ng-bind="vm.sharetool.Data[0].title"></h1>
</div>
<p></p>
  <!-- {{vm.authentication.user.roles}}
  {{vm.authentication.user.roles.indexOf('admin') !== -1}}
  {{vm.stateName}}
  {{vm.stateName === 'admin.tool'}} -->
  <div class="form-style-3">
    <fieldset >
  <div class="pull-right"
  ng-show="vm.sharetool.Data[0].isCurrentUserOwner ? true : vm.authentication.user && vm.authentication.user.roles.indexOf('admin') !== -1">
    <a class="btn btn-primary" ng-show='vm.stateName !== "admin.tool"'
       ui-sref="sharetools.edit({ sharetoolId: vm.sharetool.Data[0]._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-show='vm.stateName === "admin.tool"'
       ui-sref="admin.tool-edit({ sharetoolId: vm.sharetool.Data[0]._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>

    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>

  <div class="row">
      <div class="col-md-4 col-md-offset-1">
      <img src="{{vm.sharetool.Data[0].toolImageURL}}" alt="" class="img-responsive Toolimg">
     </div>
     <div class="col-md-6 word">
  <p class="lead" ng-bind="vm.sharetool.Data[0].location"></p>
  </div>
       <div class="col-md-6 word">
    <p class="lead" ng-bind="vm.sharetool.Data[0].content"></p>
    </div>
    </div>
  <small>
    <em class="text-muted" style="padding-left:700px;">
      Posted on
      <span ng-bind="vm.sharetool.Data[0].created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.sharetool.Data[0].user">
        <a ui-sref="userProfile({userId: vm.sharetool.Data[0].user._id})">{{vm.sharetool.Data[0].user.displayName}}
        </a>
      </span>
      <span ng-if="!vm.sharetool.Data[0].user">Deleted User</span>
    </em>
  </small>
</section>
</div>
</fieldset>
<div class="form-style-3">
  <fieldset >
<section ng-if="vm.authentication.user">
  <div class="col-md-12">
    <form name="vm.form.commentForm" class="form-horizontal" ng-submit="vm.saveComment(vm.form.commentForm.$valid)" novalidate>
      <h1 style="color:white;">Your Comment</h1>
        <div class="form-group" show-errors>
          <textarea name="name" type="text" ng-model="vm.comment.comment" id="comment" class="form-control" placeholder="comment" required></textarea>
          <div ng-messages="vm.form.commentForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Comment  is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn" style="background-color:white; color:darkred;">{{vm.comment._id ? 'Update' : 'Comment'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
    </form>
  </div>
</section>
</div>
<div class="form-style-3">
  <fieldset >
<section ng-if="vm.sharetool.Data[1] == ''  ? false : true">
  <div class="list-group" id="comments">
    <!-- {{vm.sharetool.Data[1]}} -->
    <div ng-repeat="comment in vm.sharetool.Data[1]"
       class="list-group-item">

       <img ng-src="{{comment.user.profileImageURL}}" alt="{{comment.title}}" class="header-profile-image" />
       <span ng-if="comment.user" ng-bind="comment.user.displayName"></span>
          <fieldset>
            <div class="pull-right"
            ng-show="comment.user._id === vm.authentication.user._id ? true : vm.authentication.user && vm.authentication.user.roles.indexOf('admin') !== -1">


              <a class="btn btn-primary" ng-click="vm.commentRemove(comment._id,$index);">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </div>
              <p class="list-group-item-text" ng-bind="comment.comment"></p>
          </fieldset>
       <span ng-if="!comment.user">Deleted User</span>
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="comment.created | date:'mediumDate'"></span>
      </small>
      <!-- <h4 class="list-group-item-heading" ng-bind="comment.title"></h4> -->
    </div>
  </div>
</div>
</fieldset>
  <div class="alert alert-warning text-center" ng-if="vm.sharetools.$resolved && !vm.sharetools.length">
    No Tools yet, why don't you <a ui-sref="sharetools.create">create one</a>?
  </div>
</fieldset>
</div>
</div>
