<section ng-controller="HomeController">
    <script src="public/js/html5shiv.js"></script>
      <script src="public/js/respond.min.js"></script>
    <script src="public/js/modernizr.custom.js"></script>
     <div class="container page-styling">
    <div class="header-wrapper">
      <div class="site-name">
        <h1>ShareIn</h1>
      </div>
      <p></p>
      <div class="banner">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="modules/core/client/img/banner-img.jpg" alt="" class="">
      <div class="carousel-caption">
          <i class="fw-icon-pencil"></i>
        <h2>Corem ipsum</h2>
        <h1>sit amet vivamus</h1>
        <a href="#" class="btn"> more info</a>
      </div>
    </div>
    <div class="item">
      <img src="modules/core/client/img/banner-img.jpg" alt="">
      <div class="carousel-caption">
          <i class="fw-icon-pencil"></i>
        <h2>Corem ipsum</h2>
        <h1>sit amet vivamus</h1>
        <a href="#" class="btn"> more info</a>
      </div>
    </div>
    <div class="item">
      <img src="modules/core/client/img/banner-img.jpg" alt="">
      <div class="carousel-caption">
          <i class="fw-icon-pencil"></i>
        <h2>Corem ipsum</h2>
        <h1>sit amet vivamus</h1>
        <a href="#" class="btn"> more info</a>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <!-- data-slide="prev" -->
  <a class="left carousel-control" href="#carousel-example-generic"  >
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <!-- data-slide="next" -->
  <a class="right carousel-control" href="#carousel-example-generic"  >
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
      </div>
      <div class="content-wrap">
      </div>
      <div class="lines">
        <div class="more-btn">
          <a href="#" class="btn">Tools</a>
        </div>
      </div>
      <div class="ruler"></div>
      <div class="content-wrap centering">
              <h1>Latest Posts</h1>

        <div class="featured-items">
          <ul  id="grid" >
            <li ng-repeat="tool in latestTools">
              <div class="item">
            <h5>{{tool.title}}</h5>
          <div class="grow">
            <img
            src="{{tool.toolImageURL}}" alt="{{tool.title}}">
           </div>
            <p>{{tool.content}}</p>
            <p><a ui-sref="sharetools.view({ sharetoolId: tool._id })" class="more">more info <i class="fw-icon-chevron-right"></i></a></p>
          </div>
            </li>

          </ul>



        </div>
        </div>
		<div class="ruler"></div>




    </div><!-- /container -->

    <div class="container">
	<div class="copy-rights">
		Copyright(c) website ShareIn.<br>
	</div>
	</div>







    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="public/js/jquery-1.9.1.js"></script>
    <script src="public/js/bootstrap.js"></script>
    <script src="public/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
     <script src="public/js/masonry.pkgd.min.js"></script>
    <script src="public/js/imagesloaded.js"></script>
    <script src="public/js/classie.js"></script>
    <script src="public/js/AnimOnScroll.js"></script>

    <script>
      new AnimOnScroll( document.getElementById( 'grid' ), {
        minDuration : 0.4,
        maxDuration : 0.7,
        viewportFactor : 0.2
      } );
    </script>

</section>
