<div class="container page-styling">
<div class="header-wrapper">
<section>
<div class="site-name">
  <image src="modules/core/client/img/brand/team.jpg" class="img-circle img-responsive" style="height:150px;width:150px;"/>
</div>
<p></p>
<div class="form-style-3">
  <fieldset>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
      <image src="modules/core/client/img/brand/noha.jpg" class="img-circle img-responsive" style="border-radius:50px;"/>
      <span style="font-size:20px;">Noha Salah </span>
         <span style="font-size:20px;color:darkred;">(supervisor)</span>
    </div>
    <div class="row">
      <div class="col-md-2">
      <image src="modules/core/client/img/brand/wafaa.png" class="img-circle img-responsive" style="border-radius:50px;"/>
      <span style="font-size:20px;">Wafaa Elsayed </span>
         <span style="font-size:20px;color:darkred;">(SD) </span>
    </div>
    <div class="col-md-2">
          <image src="modules/core/client/img/brand/gnedy.png" class="img-circle img-responsive" style="border-radius:50px;"/>
         <span style="font-size:20px;">Mohamed Gnedy(Leader)</span>
         <span style="font-size:20px;color:darkred;">(OS)</span>
    </div>
    <div class="col-md-2">
       <image src="modules/core/client/img/brand/abdo.jpg" class="img-circle img-responsive" style="border-radius:50px;"/>
       <span style="font-size:20px;">Abd Elrahman Elhoshy </span>
       <span style="font-size:20px;color:darkred;">(OS)</span>
    </div>
    <div class="col-md-2">
       <image src="modules/core/client/img/brand/sharkawy.jpg" class="img-circle img-responsive" style="border-radius:50px;"/>
       <span style="font-size:20px;">Mohamed Sharkawy</span>
       <span style="font-size:20px;color:darkred;">(SD)</span>
    </div>
          </div>
  </fieldset>
</div>
</section>
</div>
</div>
