<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Tools</h1>
      </div>
      <button type="button" class="btn btn-large btn-block btn-success" ui-sref="admin.tool-create" >Add New Tool</button>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="tool in pagedItems" ui-sref="admin.tool({sharetoolId: tool._id})" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="tool.title"></h4>
      <p class="list-group-item-text pull-right small" ng-bind="tool.user.displayName"></p>
      <p class="list-group-item-text" ng-bind="tool.created"></p>
    </a>
  </div>

  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</section>
