<!-- The chat view -->
<div class="container page-styling" ng-controller="ChatController">
<div class="header-wrapper">
<section>
<div class="site-name">
<image src="modules/core/client/img/brand/conversation.png" class="img-circle img-responsive" style="height:150px;width:150px;"/>
</div>
<p></p>
<div class="form-style-3">
  <fieldset>
  <div class="col-md-10">
    <!-- {{onlineUsers}} -->

  <!-- <ul class="item-divider">Online Users
    <li>
    <input type='button'  ng-repeat="(key, value) in onlineUsers" ng-if="value.username != authentication.user.username" id="{{value._id}}" username="{{value.username}}" value='{{value.username}}' private-msg  >
    <a  ng-repeat="(key, value) in onlineUsers" ng-if="value.username != authentication.user.username" ui-sref="chat.private({ userId: value._id })"  >
          {{value.username}}
    </a>
    </li>
  </ul>
    {{onlineUsers}} -->
    <!-- <h1>onlineUsers</h1>
    <ul>
      <li ng-repeat="(key, value) in onlineUsers">
        {{value._id}}
        <a ui-sref="chat.private({ userId: value._id })">{{value.username}}</a>
      </li>
    </ul> -->
  </div>
  <div class="col-md-12">

<!-- <section class="container" >
  <div class="page-header">
    <h1>Chat Example</h1> -->
    <!-- {{onlineUsers}} -->
  <!-- </div> -->
  <!-- The message form -->
  <!-- <form class="col-xs-12 col-md-offset-4 col-md-4" ng-submit="sendMessage();">
    <fieldset class="row">
      <div class="input-group">
        <input type="text" id="messageText" name="messageText" class="form-control" ng-model="messageText" placeholder="Enter new message">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-disabled="!messageText.length">Submit</button>
        </span>
      </div>
    </fieldset>
  </form> -->
  <!-- <ul class="list-unstyled"> -->
    <!-- List all messages -->
    <!-- <li class="col-xs-12 col-md-offset-4 col-md-4 chat-message" ng-repeat="message in messages">
      <small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
      <img ng-src="{{message.profileImageURL}}" alt="{{message.username}}" class="pull-left chat-profile-image" />
      <div class="pull-left chat-message-details">
        <strong ng-bind="message.username"></strong>
        <br>
        <span ng-bind="message.text"></span>
      </div>
    </li>
  </ul>
</section> -->




<section ng-if="convs == ''  ? false : true">
<fieldset>
  <div class="list-group" id="convs">
    <!-- {{vm.sharetool.Data[1]}} -->
    <div class="list-group-item" ng-repeat="conv in convs" id='{{conv.convWith._id}}' >
    <div class="img-name">
      <img ng-src="{{conv.msgData.user.profileImageURL}}" alt="{{conv.msgData.user.displayName}}" class="header-profile-image" />
      <span> <a ui-sref="userProfile({userId: conv.convWith._id})"> {{conv.convWith.displayName}} </a></span>
        </div>
       <div class="pull-right">
         <a class="btn btn-primary" ng-click="convRemove(conv.convWith,$index)">
           <i class="glyphicon glyphicon-trash"></i>
         </a>
       </div>
       <a
          ui-sref="chat.private({ userId: conv.convWith._id })">
       <div class="pull-right">
          <button type="button"
          ng-class="onlineUsersUsernames.indexOf(conv.convWith.username) !== -1 ? 'btn btn-success' : 'btn btn-danger'  ">
          <i class="glyphicon glyphicon-flash"></i></button>
       </div>
      <!-- <h4 class="list-group-item-heading" ng-bind="conv.title"></h4> -->

        <fieldset>
       <p class="list-group-item-text" ng-bind="conv.msgData.message"></p>
      </fieldset>
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="conv.msgData.created | date:'mediumDate'"></span>
        by
        <span ng-if="conv.msgData.user" ng-bind="conv.msgData.user.displayName"></span>
        <span ng-if="!conv.msgData.user">Deleted User</span>
      </small>
    </a>
  </div>
</fieldset>
  <!-- <div class="alert alert-warning text-center" ng-if="vm.sharetools.$resolved && !vm.sharetools.length">
    No Sharetools yet, why don't you <a ui-sref="sharetools.create">create one</a>?
  </div> -->

</section>

</div>
</div>
</filedset>
</div>
</section>
</div>
</div>
