<!-- The chat view -->
<div class="container page-styling"  ng-controller="ChatController">
<div class="header-wrapper">
<section>
<div class="site-name">
<image src="modules/core/client/img/brand/chat.png" class="img-circle img-responsive" style="height:150px;width:150px;"/>
</div>
<p></p>
<div class="form-style-3">
  <fieldset>
  <div class="col-md-2">
    <!-- {{onlineUsers}} -->
    <!-- {{userId}} -->
  </div>
  <div class="col-md-9">

    <section>
      <div class="page-header">
        <h1 class="input-group2">Chat with {{receiverUser}}</h1>
        <!-- {{onlineUsers}} -->
      </div>
      <!-- The message form -->
      <form class="col-xs-12 col-md-10" ng-submit="sendPrivate();">
        <fieldset class="row">
          <div class="input-group">
            <input type="text" id="privateText" name="privateText" class="form-control" ng-model="privateText" placeholder="Enter new message">
            <span class="input-group-btn">
          <button type="submit" class="btn btn-danger" ng-disabled="!privateText.length">Submit</button>
        </span>
          </div>
        </fieldset>
      </form>
      <!-- <ul class="list-unstyled">
    List all messages
    {{privateMessages}}
    <li class="col-xs-12 col-md-offset-4 col-md-4 chat-message" ng-repeat="message in messages">
      <small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
      <img ng-src="{{message.profileImageURL}}" alt="{{message.username}}" class="pull-left chat-profile-image" />
      <div class="pull-left chat-message-details">
        <strong ng-bind="message.username"></strong>
        <br>
        <span ng-bind="message.text"></span>
      </div>
    </li>
  </ul> -->
    </section>
  </div>

<section ng-if="privateMessages == ''  ? false : true">
  <!-- {{privateMessages}} -->
  <div class="list-group" id="privateMessages">
    <!-- {{vm.sharetool.Data[1]}} -->
    <div ng-repeat="message in privateMessages track by $index" class="list-group-item">
      <div class="pull-right">
        <a class="btn btn-primary" ng-click="msgRemove(message.msg_id,$index);">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>

        <div class="img-name">
          <img ng-src="{{message.profileImageURL}}" alt="{{message.displayName}}" class="header-profile-image" />
          <span><h4 class="list-group-item-heading" ng-bind="message.message"></h4></span>
          
            </div>

        <p class="list-group-item-text" ng-bind="message.message"></p>

      <small class="list-group-item-text">
        Posted on
        <span ng-bind="message.date | date:'mediumDate'"></span>
        by
        <span ng-if="message" ng-bind="message.displayName"></span>
        <span ng-if="!message">Deleted User</span>
      </small>
    </div>
  </div>
</section>
</div>
</fieldset>
</div>
</section>
</div>
</div>
